/*Utils*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}


a {
    text-decoration: none;
}

.primary {
    background: #F9E9F4;
    color: #64587D;
}

.shadow {
    filter: drop-shadow(0px 4px 14px rgba(105, 87, 127, 0.36));
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}


/*Main Screen*/
.main_scr {
    background: url("../img/main_back.png") no-repeat center center/cover;
    position: relative;
}

.main_scr .wrapper {
    padding: 4rem 3rem;
    height: 70vh;
}

.navbar {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 3rem 3rem 0.5rem 3rem;
    transition: 1s;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 1.5rem;
}

.navbar ul li a {
    color: #64587D;
}

.main_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 1.5rem;
}

.main_logo img {
    width: 50vw;
    height: 50vh;
}


.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}


/* Animation Waves */
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*WHAT WE DO*/

.what_we_do {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/*ABOUT ME*/
.about_me .wrapper {
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_me_block {
    border-radius: 40px;
    display: flex;
    width: 70vw;
}

.block_img {
    width: 40%;
    min-width: 400px;
    /*min-width: 35vw;*/
    position: relative;
}

.block_img img {
    position: absolute;
    height: 75vh;
    top: -28px;
    left: -80px;
}

.block_text {
    padding: 3.5rem 4rem 3.5rem 0;
    width: 60%;

}

.block_title {
    font-size: 36px;
}

.block_text h2 {
    font-size: 26px;
}

.block_text h2:nth-child(2) {
    margin-top: 2rem;
}

.block_text p {
    margin: 1.5rem 0;
}

/*GALLERY*/

.slider_names {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.background {
    color: #69577F;
    background: #F9E9F4;
}

.background:first-child {
    background: url("../img/back_for_slider_1.svg") no-repeat center center/100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem 0 0;
}

.background:last-child {
    background: url("../img/back_for_slider_2.svg") no-repeat center center/100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background h2 {
    padding: 2rem;
}

.gallery .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0 3rem 0;
}

.slider1 {
    display: flex;
}

.slider-wrapper {
    width: 500px;
    margin: 0 auto;
}

.photo-container1 {
    overflow: hidden;
    background: pink;
    border-radius: 59px;
}

.photo-track1 {
    display: flex;
    background: yellow;
    transition: 2s;
}

.photo-item1 {
    height: 450px;
}

.photo-item1:nth-child(3n + 1) {
    background-color: red;
}

.photo-item1:nth-child(3n + 2) {
    background-color: green;
}

.photo-item1:nth-child(3n + 3) {
    background-color: blue;
}

.slider-buttons {
    text-align: center;
}

.slider2 {
    display: flex;
}

.photo-container2 {
    overflow: hidden;
    background: pink;
    border-radius: 59px;
}

.photo-track2 {
    display: flex;
    background: yellow;
    transition: 2s;
}

.photo-item2 {
    height: 450px;
}

.photo-item2:nth-child(3n + 1) {
    background-color: red;
}

.photo-item2:nth-child(3n + 2) {
    background-color: green;
}

.photo-item2:nth-child(3n + 3) {
    background-color: blue;
}

.slider-buttons {
    text-align: center;
}


/*TESTIMONIALS*/
.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.testimonials .wrapper {
    padding: 2rem 1rem 5rem 1rem;
    width: 1000px;
}

.slider-container {
    overflow: hidden;
    box-shadow: 0px 4px 14px rgba(105, 87, 127, 0.36);
    border-radius: 98px;
}

.slider-track {
    display: flex;
    background: #F9E9F4;
    transition: 2s;
}

.slider-item {
    color: #69577F;
    text-align: left;
    height: 350px;
    background: #F9E9F4;
    border-right: 1px dashed #69577F;
    /*margin-left: 2px;*/
    padding-right: 1px;
}

.wrapper-content {
    padding: 3.5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    max-width: 100%;
}


.slider-item p {
    width: 80%;
    padding-top: 2rem;
}


.stars {
    /*align-self: flex-end;*/
    /*margin: 1.5rem 8rem 0 0;*/
    position: absolute;
    left: 63%;
    top: 90%;
}

.stars img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn {
    padding-bottom: 2rem;
    color: #69577F;
}


.btn a:hover {
    color: #9A98B5;
    cursor: pointer;
}

.btn a:disabled {
    color: #f4f4f4;
}


/*CONTACT US*/
.contact_us {
    text-align: center;
    color: #69577F;
    padding-bottom: 3rem;
}

.contact_us .wrapper {
    display: flex;
    margin: 2rem 10rem;
    justify-content: center;
    align-items: center;
}

.contact_form {
    flex: 1;
    padding-right: 1rem;
}


.contact_form form {
    display: flex;
    flex-direction: column;
}

.contact_form form input {
    border-radius: 50px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #F9E9F4;
    background: #F9E9F4;
    font-size: 18px;
    color: #69577F;
    box-shadow: 0px 4px 14px rgba(105, 87, 127, 0.36);
    transition: 0.2s linear;
}

.contact_form form input:focus {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.contact_form form input:last-child:focus {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.contact_form form input:last-child:active {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}


.contact_form form input::placeholder {
    font-size: 18px;
    color: #69577F;
}

.contact_form form textarea {
    border-radius: 50px;
    padding: 1.5rem;
    min-height: 200px;
    margin: 1rem;
    border: 1px solid #F9E9F4;
    background: #F9E9F4;
    font-size: 18px;
    color: #64587D;
    box-shadow: 0px 4px 14px rgba(105, 87, 127, 0.36);
    transition: 0.2s linear;


}

.contact_form form textarea:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contact_form form textarea::placeholder {
    font-size: 18px;
    color: #69577F;
}

.contact_form form input:focus, .contact_form form textarea:focus {
    outline: none;
}

.form_footer {
    display: flex;
}

.form_footer input:first-child {
    flex: 2;
    padding: 0.75rem;

}

.form_footer input:last-child {
    flex: 1;
    font-weight: bold;
    font-size: 18px;
    color: #64587D;
    padding: 0.75rem;
}

.form_footer input:last-child:hover {
    cursor: pointer;
}

.map {
    flex: 1;
    margin: 1rem;
    border-radius: 50px;
    height: 506px;
    box-shadow: 0px 4px 14px rgba(105, 87, 127, 0.36);

}

/*Footer*/

.main_footer {
    width: 100%;
    height: 250px;
    background: url("../img/footer_background.png") no-repeat center center;
    text-align: center;
}

.waves_2 {
    position: relative;
    width: 100%;
    height: 14vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
    transform: rotate(180deg)
}

.main_footer p {
    padding-top: 6rem;
    color: #69577F;
}

/*TODO TO MOBILE*/

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .waves_2 {
        height: 40px;
        min-height: 40px;
    }

}


