* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  background-color: black;
  color: white;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.navbar__text {
  font-size: 21px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1;
  border-radius: 20px;
  border-style: solid;
  height: 200px;
  width: 200px;
  -webkit-box-shadow: 36px 14px 18px 0px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 36px 14px 18px 0px rgba(0, 0, 0, 0.74);
  box-shadow: 36px 14px 18px 0px rgba(0, 0, 0, 0.74);
}
